@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', Arial, sans-serif;
}



/*         HEADER         */

header{
    position: relative;
    
    width: 100%;
    height: 20vh;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    & h1{
        font-size: 2.5rem;
        text-align: center;
    }

    & p{
        font-size: 1.25rem;
        text-align: center;
    }

    &::before{
        content: '';
        position: absolute;
        bottom: .25rem;

        height: .25rem;
        width: 100%;

        background: linear-gradient(90deg, #fff, #fff, #6587ff, #fff, #fff);
    }
}



/*         PERGUNTAS         */

.pergunta{
    margin: auto;
    margin-top: 5rem;
    min-width: 500px;
    width: 40vw;
    height: auto;
    padding: 3rem 5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: #fff;
    border: .25rem #ccc solid;
    border-radius: 2rem;
}

.perguntah2{
    margin-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
}

.input-box{
    height: auto;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    background-color: transparent;
    border: .25rem solid #eee;
    border-radius: .75rem;

    transition: all .2s;

    &:hover{
        border-color: #edf1fd;
        background-color: #edf1fd;
    }

    & input[type="radio"]{
        display: none;
    }

    & label{
        width: 100%;
        padding: 1rem;
        cursor: pointer;
    }

    & .fa-check{
        padding-right: 2rem;
        color: #fff;
        opacity: 0;
        cursor: pointer;
        transition: opacity .2s;
    }
}

.input-box:has(input[type="radio"]:checked) {
  background-color: #3d67ff;
  border-color: #3d67ff;
  color: #fff;
  font-weight: bold;

  & .fa-check{
    opacity: 1;
  }
}



/*         RESULTADO         */

.send-btn{
    margin: auto;
    margin-top: 5rem;
    height: auto;
    min-width: calc(500px - 5rem);
    width: calc(40vw - 5rem);
    padding: 1.25rem;

    display: flex;
    justify-content: center;

    font-size: 1.25rem;
    font-weight: 600;

    background-color: #3d67ff;
    border: none;
    border-radius: .75rem;
    color: #fff;

    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: #2151ff;
    }
}

#resultado{
    margin-top: 2rem;
    height: 5rem;

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .25rem;

    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;

    transition: all .2s;
}

.carro-final{
    font-weight: 700;
    font-style: italic;
    color: #2151ff;
}


/*         FOOTER         */

footer{
    margin-top: 5rem;
    width: 100%;
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: #666;
}